html {
    position: relative;
    min-height: 100%;
    color: #555;
}
body {
    background: #eee;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 0 70px;
}
.header {
    background-color: #2ca05a;
    border-bottom: 3px solid #307e4f;
}

.logo {
    top: 0;
    float: left;
    margin: 10px 0 0 40px;
}

.header-title {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}
.content {
    margin: 30px auto;
    max-width: 1080px;

}

.post {
    background: white;
    border: 1px solid #ccc;
    margin: 20px 30px;
    padding: 50px 30px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
}

h2 {
    font-weight: normal; 
    font-size: 25px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ccc;
}
h2:first-child {
    margin-top: 0;
}

.tech-wrap {
    width: 100%;
    font-size: 0px;
    text-align: center;
}

.tech {
    margin: 10px 10px;
    width: 90px;
    height: 105px;
}

p {
    line-height: 25px;
}

a, 
a:active, 
a:visited {
    color: #0054ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


li {
    line-height: 150%;
}

.footer {
    background: #555;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 100%;
    line-height: 25px;
    text-align: center;
}

span {
    padding-left: 40px;
}

@media screen and (max-width: 600px) {
    .post {
        margin: 10px 5px;
    }
    ul {
        padding-left: 0;
    }
    li {
        list-style-type: none;
    }
    .tech {
        margin: 5px 5px;
        width: 70px;
        height: 82px;
    }
}